# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/

# Virtual environments
.venv/
env/
venv/

# VSCode
.vscode/

# Logs & cache
*.log
*.tmp
.cache/
.mypy_cache/
.pytest_cache/
.coverage

# Environment files
.env
.env.*

# Data & outputs
data/
output/

# UV & lock files (optional to ignore)
uv.lock
